%close-btn-line{
	content:'';
    background: $white;
    width: 1px;
    height: 22px;
    display: inline-block;
}   

.close{
    width: 30px;
    height: 30px;   
    position: absolute;
    top: 8px;
    cursor:pointer;
    right: 10px; 
    background: rgba($black, 0.3);
    box-shadow: 0 0 0px 4px rgba($black, 0.3);
    @include border-radius(100%);
    @include scale(0.8);
    @include transition(all 0.3s ease-in-out);

    &:hover{
    	background: rgba($black, 0.4);
    	box-shadow: 0 0 0px 4px rgba($black, 0.4);
    	@include transform(scale(0.9) rotate(90deg));
    }

    &:before{
    	@extend %close-btn-line;
     	@include transform (rotate(-45deg) translate(8px, 13px));
    }
    &:after{
    	@extend %close-btn-line;
        @include transform (rotate(45deg) translate(10px, -5px));
    }
}
