
//colors
$primary-color:#4fd4b0; //green
$white:#fff;
$black:#000;
$body-color:#F1F1F1; //gray 

//product variables
$product-img-bg:#fcfcfc; 

//fonts
$primary-font:lato;
$title-font:lato;

// Social Colors
$facebook:#5471AD;
$twitter:#6DCEF1;
$google-plus:#E7503F;
$linkedin:#2E97C7;
$youtube:#D12C26;
